.weather-app{
    background-color: #8fbaf3;
    max-width: 1000px;
    padding: 20px;
    border: 1px solid #0245a3;
    border-radius: 10px;
    text-align: center;
}

.city-search-bar{
    margin: 10px 5px 5px;
    padding: 10px;
    border: 1px solid #0245a3;
    border-radius: 10px;
    background-color: #F5FFFF;
    width: 80%;
    color:#0245a3;
}

.city-search-btn{
    margin: 5px auto;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background-color: #BDF1F6;
    color: #0245a3;
}

.city-search-btn:hover{
    color: #BDF1F6;
    background-color: #0245a3;
    cursor: pointer;
    transition: 200ms;
}