.weather-app{
    background-color: #8fbaf3;
    max-width: 1000px;
    min-width: 300px;
    padding: 20px;
    border: 1px solid #0245a3;
    border-radius: 10px;
    text-align: center;
}

.city-search-form{
    text-align: justify;
    margin: 10px 20px;
    display: flex;
    justify-content:space-between;
}
.city-search-bar{
    border: none;
    margin-top: 5px;
    margin-right: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: #F5FFFF;
    width: 95%;
    color:#0245a3;
    min-width: 100px;
}

.city-search-btn{
    margin-top: 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background-color: #BDF1F6;
    color: #0245a3;
    transition: all 200ms ease-in-out;
}

.city-search-btn:hover{
    color: #BDF1F6;
    background-color: #0245a3;
    cursor: pointer;
}

.city-weather{
    background-color: #f5ffFF;
    border-radius: 10px;
    margin: 20px;
    padding: 20px 0px 40px;
}

.city-name{

}